
@{
    ViewBag.Title = "_OperationLayout";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>版块添加</title>
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    @Styles.Render("~/Content/list")
    @Scripts.Render("~/list/js")

</head>

<body class="theme-white" data-type="widgets">

    <div class="am-g tpl-g">
        <!-- 头部 -->
        <header>
            <!-- logo -->
            <div class="am-fl tpl-header-logo">
                <a href="javascript:;">
                    <img src="../img/logo.png" alt="">
                </a>
            </div>
            <!-- 头部 -->
            <!-- 其它功能-->
            <div class="am-fr tpl-header-navbar">
                <ul>
                    <!-- 欢迎语 -->
                    <li class="am-text-sm tpl-header-navbar-welcome">
                        <a href="javascript:;">
                            欢迎你,
                            <span id="nickname"></span>
                        </a>
                    </li>

                    <!-- 退出 -->
                    <li class="am-text-sm">
                        <a href="javascript:;" onclick="logout()">
                            <span class="am-icon-sign-out"></span> 退出
                        </a>
                    </li>
                </ul>
            </div>
        </header>
    </div>



     




    <!-- 内容区域 -->
@RenderBody()



</body>

</html>


