@using Screening.Models
@model ScreeningDataModel
@{
    ViewBag.Title = "Index";
}

<div class="tpl-content-wrapper">


    <div class="row-content am-cf">


        <div class="row">

            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-title am-fl">修改场次</div>
                        <div class="widget-function am-fr">
                            <a href="javascript:;" class="am-icon-cog"></a>
                        </div>
                    </div>
                    <div class="widget-body am-fr">

                        

                            @using (Html.BeginForm("Modified", "Modify", FormMethod.Post,new { @class = "am-form tpl-form-line-form" }))
                            {
                                <div class="am-form-group">
                                    <label for="user-phone" class="am-u-sm-3 am-form-label">
                                        场次ID
                                        <span class="tpl-form-line-small-title">Block</span>
                                    </label>
                                    <div class="am-u-sm-9">
                                        @Html.TextBoxFor(now => now.screening_id, new { Value = Model.screening_id, @readonly="readonly" })
                                        <small> </small>

                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <label for="user-name" class="am-u-sm-3 am-form-label">
                                        影片ID
                                        <span class="tpl-form-line-small-title">Cate</span>
                                    </label>
                                    <div class="am-u-sm-9">
                                        @Html.TextBoxFor(now => now.film_id, new { Value = Model.film_id })

                                        <small> </small>
                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <label for="user-intro" class="am-u-sm-3 am-form-label">大厅ID</label>
                                    <div class="am-u-sm-9">
                                        @Html.TextBoxFor(now => now.hall_id, new { Value = Model.hall_id })
                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <label for="user-intro" class="am-u-sm-3 am-form-label">放映时间</label>
                                    <div class="am-u-sm-9">
                                        @Html.TextBoxFor(now => now.start_time, new { Value = Model.start_time })
                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <div class="am-u-sm-9 am-u-sm-push-3">
                                        <button type="submit" >提交</button>
                                    </div>
                                </div>

                            }
                     
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
