
@{
    ViewBag.Title = "MDelete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style type="text/css">
    #center {
        width: 1000px;
        height: 1000px;
        margin: 0 auto;
        padding-left: 150px;
    }

    h2 {
        text-align: center;
    }

    .left1 {
        width: 300px;
        text-align: left
    }

    .right1 {
        width: 320px;
        height: 50px;
        border: 1px solid #808080
    }

    #getbackbtn {
        visibility: hidden;
    }
</style>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script type="text/javascript">
    var currentid=0;
    $(document).ready(function ()
    {
        $("#delete").click(function () {
            //alert("test");
            var id = currentid;
            var result = { "id": id };
            $.get('@Url.Action("DeletetheMovie", "MovieAdmin")', result)
                .done(function (data)
                {
                    if (data == 1) {
                        alert("删除影片信息成功!");
                        var result = "<br>删除影片信息成功!对应的ID为:" + id;
                        $("#getback2").html(result);
                    }
                    else { alert("删除影片信息失败!"); }
                })
                .fail(function (data)
                {
                    alert("删除影片信息失败!");
                })


        });

        $("#submitinf").click(function () {
            var id = $("#id").val();
            var result = { "id": id };
            currentid = id;
            $.get('@Url.Action("SearchtheMovie", "MovieAdmin")',result)
                .done(function (data)
                {
                    if (data.flag == 1) {
                        alert("查找影片信息成功!");
                        var result = "<br>成功查找到影片：" + data.Name + "<br>该影片的ID：" + data.ID
                            + "<br>该影片的类型：" + data.Type
                            + "<br>该影片的时长：" + data.Time
                            + "<br>该影片的上线日期：" + data.Ondate
                            + "<br>该影片的下线日期：" + data.Outdate
                            + "<br>该影片的票价：" + data.Price
                            + "<br>该影片的简介：" + data.Intro
                            + "<br>该影片的url：" + data.Url+"<br>";
                            //+ '<table><tr><td><input type="button" class="btn-danger" value="确定删除" id="delect" /></td><td></td></tr></table>';
                        $("#getback").html(result);
                        // $("#getbackbtn").html(btn);
                        $("#getbackbtn").css("visibility","visible");
                    }
                    else
                    {
                        alert("未找到该影片!");
                        var result = "该影片不存在!";
                        $("#getback").html(result);
                    }

                })
                .fail(function (data)
                {
                    alert("查找影片信息失败!");
                })
        });


    }
        )
</script>

    <div id="center">
        <h2>删除影片信息</h2>
        <form>
            <table>
                <tr>
                    <td class="left1">请输入要删除的影片ID：</td>
                    <td><input type="text" class="right1" id="id" /></td>
                </tr>
                <tr><td><br /></td></tr>
                <tr>
                    <td><input type="reset" class="btn-warning" value="重置信息" /></td>
                    <td><input type="button" class="btn-success" value="提交信息" id="submitinf" /></td>
                </tr>
            </table>
        </form>
        <div id="getback" class="text-warning"></div>
        <div id="getbackbtn"><table><tr><td><input type="button" class="btn-danger" value="确定删除" id="delete" /></td><td></td></tr></table></div>
        <div id="getback2" class="text-danger"></div>
    </div>

