
@{
    ViewBag.Title = "MInsert";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style type="text/css">
    #center {
        width: 1000px;
        height: 1000px;
        margin: 0 auto;
        padding-left: 150px;
    }

    h2 {
        text-align: center;
    }

    .left1 {
        width: 300px;
        text-align: left
    }

    .right1 {
        width: 320px;
        height: 50px;
        border: 1px solid #808080
    }
</style>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#submitinf").click(function ()
        {
            //alert("123");
            var newid = $("#newID").val();
            var name = $("#name").val();
            var type = $("#type").val();
            var time = $("#time").val();
            var ondate = $("#ondate").val();
            var outdate = $("#outdate").val();
            var price = $("#price").val();
            var introduction = $("#introduction").val();
            var url = $("#url").val();
            var flag = 1;
            var wrongmessage = "";
            //alert(time);
            //alert(ondate);
            //alert(account.length);
            if (newid.length > 10 || newid.length<1) {
                wrongmessage = "添加失败, 影片ID长度不能多于10位或小于1位\n";
                flag = 0;
            }
            if (introduction.length > 290 || introduction.length<1) {
                wrongmessage += "添加失败，影片的简介长度不能多于290位或小于1位\n";
                flag = 0;
            }
            if (ondate.length == 0 || outdate.length == 0) {
                wrongmessage += "添加失败，影片的上线日期和下线日期不能为空\n";
                flag = 0;
            }
            if (time.length == 0) {
                wrongmessage += "添加失败，影片的时长不能为空\n";
                flag = 0;
            }
            if (price.length == 0) {
                wrongmessage += "添加失败，影片的票价不能为空\n";
                flag = 0;
            }
            if (ondate > outdate) {
                wrongmessage += "添加失败，影片的上线日期不能晚于下线日期\n";
                flag = 0;
            }
            if (flag == 0) {
                alert(wrongmessage);
            }

            else {
                var results = {
                    "newid": newid,
                    "name": name,
                    "type": type,
                    "time": time,
                    "ondate": ondate,
                    "outdate": outdate,
                    "price": price,
                    "introduction": introduction,
                    "url": url
                };
                $.get('@Url.Action("SendNewMovie", "MovieInfo")', results)
                    .done(function (data) {
                        if (data.flag == 1) {
                            alert("添加影片信息成功!");
                            var result = "<br>成功添加新影片：" + data.Name + "<br>该影片的ID：" + data.ID
                                + "<br>该影片的上线日期：" + data.Ondate
                                + "<br>该影片的下线日期：" + data.Outdate
                                + "<br>该影片的时长：" + data.Time
                                + "<br>该影片的票价：" + data.Price
                                + "<br>该影片的类型：" + data.Type
                                + "<br>该影片的简介：" + data.Intro
                                + "<br>该影片的url：" + data.Url;
                        }
                        else {
                            alert("添加影片信息失败!影片的ID或者名字不能重复!")
                            var result = "添加影片信息失败!影片的ID或者名字不能重复!"
                        }
                        $("#getback").html(result);
                        //console.log(data);
                    })
                    .fail(function (data) {
                        alert("添加影片信息失败!");
                        var resultfail = "<br>影片信息添加失败!"
                        $("#getback").html(resultfail);
                    })

            }
        });
    });
</script>


<div id="center">
    <h2>添加影片信息</h2>
    <form>
        <table>
            <tr>
                <td class="left1">新影片ID：</td>
                <td><input type="text" class="right1" id="newID" /></td>
            </tr>
            <tr><td><br /></td></tr>
            <tr>
                <td class="left1">新影片名字：</td>
                <td><input type="text" class="right1" id="name" /></td>
            </tr>
            <tr><td><br /></td></tr>
            <tr>
                <td class="left1">新影片类型：</td>
                <td><input type="text" class="right1" id="type" /></td>
            </tr>
            <tr><td><br /></td></tr>
            <tr>
                <td class="left1">新影片时长：</td>
                <td><input type="time" class="right1" id="time" /></td>
            </tr>
            <tr><td><br /></td></tr>
            <tr>
                <td class="left1">新影片上映日期：</td>
                <td><input type="date" class="right1" id="ondate" /> </td>
            </tr>
            <tr><td><br /></td></tr>
            <tr>
                <td class="left1">新影片下线日期：</td>
                <td><input type="date" class="right1" id="outdate" /> </td>
            </tr>
            <tr><td><br /></td></tr>
            <tr>
                <td class="left1">票价：</td>
                <td><input type="number" min="1" max="999" step="0.01" class="right1" id="price" /> </td>
            </tr>
            <tr><td><br /></td></tr>
            <tr>
                <td class="left1">简介：</td>
                <td><input type="text" class="right1" id="introduction" /> </td>
            </tr>
            <tr><td><br /></td></tr>
            <tr>
                <td class="left1">图片url：</td>
                <td><input type="text" class="right1" id="url" /> </td>
            </tr>
            <tr><td><br /></td></tr>
            <tr>
                <td><input type="reset" class="btn-warning" value="重置信息" /></td>
                <td><input type="button" class="btn-success" value="提交信息" id="submitinf" /></td>
            </tr>
        </table>
    </form>
    <div id="getback" class="text-success"></div>
</div>

