@{
    ViewBag.Title = "Delect";
}
<style type="text/css">
    .center {
        margin: 20px auto;
    }
    .content {
        margin: 0 auto;
    }
    .add-title {
        text-align: center;
        margin-bottom: 30px;
    }
    .left1 {
        width: 300px;
        text-align: left
    }
    .right1 {
        width: 320px;
        height: 50px;
        border: 1px solid #808080
    }
    #getbackbtn{
        visibility:hidden;
    }
    .result{
        text-align:center;
        margin-top:50px;
        font-size:20px;
    }
    .center-btn{
        margin:0 auto;
        position:relative;
        top:20px;
    }
</style>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script type="text/javascript">
    var currentacc=0;
    $(document).ready(function ()
    {
        $("#delete").click(function () {
            var account = currentacc;
            var result = { "Account": account };
            $.get('@Url.Action("DeletetheUser", "UserInfo")', result)
                .done(function (data)
                {
                    if (data == 2) {
                        alert("删除用户信息成功!");
                        var result = "删除用户信息成功!删除的账号为:" + account;
                        $("#getback2").html(result);
                    }
                    else { alert("删除用户信息失败!"); }
                })
                .fail(function (data)
                {
                    alert("删除用户信息失败..!");
                })

            
        });

        $("#submitinf").click(function () {
            var account = $("#account").val();
            var result = { "Account": account };
            currentacc = account;
            $.get('@Url.Action("SearchtheUser", "UserInfo")',result)
                .done(function (data)
                {
                    if (data.flag == 1) {
                        alert("查找用户信息成功!");
                        var result = "<br>成功查找到用户：" + data.Name + "<br>该用户的账号：" + data.UserName
                            + "<br>该用户的密码：" + data.PassWord
                            + "<br>该用户的电话：" + data.PhoneNumber
                            + "<br>该用户的性别：" + (data.Sex == 1 ? "男" : "女");
                            //+ '<table><tr><td><input type="button" class="btn-danger" value="确定删除" id="delect" /></td><td></td></tr></table>';
                        $("#getback").html(result);
                        // $("#getbackbtn").html(btn);
                        $("#getbackbtn").css("visibility","visible");
                    }
                    else
                    {
                        alert("未找到该用户!");
                        var result = "该用户不存在!";
                        $("#getback").html(result);
                    }

                })
                .fail(function (data)
                {
                    alert("查找用户信息失败!..");
                })
        });


    }
        )
</script>

<div class="center col-md-12">
    <div class="add-title"><h2>删除用户账号信息</h2></div>
    <form>
        <table class="content">
            <tr>
                <td class="left1">请输入要删除的用户账号：</td>
                <td><input type="text" class="right1" id="account" /></td>
            </tr>
            <tr><td><br /></td></tr>
            <tr>
                <td><input type="reset" class="btn-warning" value="重置信息" /></td>
                <td><input type="button" class="btn-success" value="提交信息" id="submitinf" /></td>
            </tr>
        </table>
    </form>
    <div id="getback" class="text-warning col-md-12 result"></div>
    <div id="getbackbtn" ><table class="center-btn"><tr><td><input type="button" class="btn-danger" value="确定删除" id="delete" /></td><td></td></tr></table></div>
    <div id="getback2" class="text-danger col-md-12 result"></div>
</div>

