
@{
    ViewBag.Title = "Insert";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style type="text/css">
    #center
    {
        width:1000px;
        height:1000px;
        margin:0 auto;
        padding-left:150px;
    }
    h2{text-align:center;}
    .left1{width:300px;text-align:left}
    .right1{width:320px;height:50px;border:1px solid #808080}
</style>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#submitinf").click(function ()
        {
            //alert("123");
            var account = $("#newaccount").val();
            var password = $("#newpassword").val();
            var username = $("#newusername").val();
            var phone = $("#newphone").val();
            var sex = $("input[type='radio']:checked").val();
            //var ifsex = $("input[name='sex']").attr("checked"); 
            var flag = 1;
            var str_phone = phone.substring(0, 1);
            var wrongmessage;
            //alert(sex);
            //alert(ifsex);
            //alert(account.length);
            if (account.length < 5) {
                wrongmessage = "添加失败，用户的账号长度不能小于5位\n";
                flag = 0;
            }
            if (password.length < 6) {
                wrongmessage += "添加失败，用户的密码长度不能小于6位\n";
                flag = 0;
            }
            if (username.length < 3) {
                wrongmessage += "添加失败，用户的昵称长度不能小于3位\n";
                flag = 0;
            }
            if (phone.length != 11 || str_phone != "1") {
                wrongmessage += "添加失败，用户的电话长度必须等于11位且首位为1\n";
                flag = 0;
            }
            if (flag == 0) {
                alert(wrongmessage);
            }
            else {
                var results = {
                    "Account": account,
                    "Password": password,
                    "Name": username,
                    "Phone": phone,
                    "Sex": sex
                };
                $.get('@Url.Action("SendNewUser", "UserInfo")', results)
                    .done(function (data) {
                        if (data.flag == 1) {
                            alert("添加用户信息成功!");
                            var result = "<br>成功添加新用户：" + data.Name + "<br>该用户的账号：" + data.UserName
                                + "<br>该用户的密码：" + data.PassWord
                                + "<br>该用户的电话：" + data.PhoneNumber
                                + "<br>该用户的性别(1是男，0是女）：" + data.Sex;
                        }
                        else {
                            alert("添加用户信息失败!用户的昵称或账号不能重复!")
                            var result = "添加用户信息失败!用户的昵称或账号不能重复!"
                        }
                        $("#getback").html(result);
                        //console.log(data);
                    })
                    .fail(function (data) {
                        alert("添加用户信息失败!");
                        var resultfail = "<br>用户信息添加失败!"
                        $("#getback").html(resultfail);
                    })

            }

        });
    });
</script>

<div id="center">
    <h2>添加用户账号信息</h2>
    <form>
        <table>
            <tr>
                <td class="left1">新用户账号：</td>
                <td><input type="text" class="right1" id="newaccount" /></td>
            </tr>
            <tr><td><br /></td></tr>
            <tr>
                <td class="left1">新用户密码：</td>
                <td><input type="password" class="right1" id="newpassword"/></td>
            </tr>
            <tr><td><br /></td></tr>
            <tr>
                <td class="left1">新用户昵称：</td>
                <td><input type="text" class="right1" id="newusername" /></td>
            </tr>
            <tr><td><br /></td></tr>
            <tr>
                <td class="left1">新用户电话：</td>
                <td><input type="text" class="right1" id="newphone"/></td>
            </tr>
            <tr><td><br /></td></tr>
            <tr>
                <td><input type="radio" name="sex" value="1" checked />新用户性别男</td>
                <td><input type="radio" name="sex" value="0" />新用户性别女</td>
            </tr>
            <tr><td><br /></td></tr>
            <tr>
                <td><input type="reset" class="btn-warning" value="重置信息" /></td>
                <td><input type="button" class="btn-success" value="提交信息" id="submitinf"/></td>
            </tr>
        </table>
    </form>
    <div id="getback" class="text-success"></div>
</div>

