
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style type="text/css">
    #center {
        width: 1000px;
        height: 1000px;
        margin: 0 auto;
        padding-left: 150px;
    }

    h2 {
        text-align: center;
    }

    .left1 {
        width: 300px;
        text-align: left
    }

    .right1 {
        width: 320px;
        height: 50px;
        border: 1px solid #808080
    }

    #getbackbtn {
        visibility: hidden;
    }
    #getback2{
        visibility:hidden;
    }
</style>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script type="text/javascript">
    var currentacc=0;
    $(document).ready(function ()
    {
        $("#update").click(function () {
            //alert("test")
            $("#getback2").css("visibility", "visible");
        });

        $("#submitinf2").click(function ()
        {
            //alert("123");
            var account = $("#newaccount").val();
            var password = $("#newpassword").val();
            var username = $("#newusername").val();
            var phone = $("#newphone").val();
            var sex = $("input[type='radio']:checked").val();
            //var ifsex = $("input[name='sex']").attr("checked");
            var flag = 1;
            var str_phone = phone.substring(0, 1);
            var wrongmessage;
            //alert(sex);
            //alert(ifsex);
            //alert(account.length);
            if (account.length < 5) {
                wrongmessage = "修改失败，用户的账号长度不能小于5位\n";
                flag = 0;
            }
            if (password.length < 6) {
                wrongmessage += "修改失败，用户的密码长度不能小于6位\n";
                flag = 0;
            }
            if (username.length < 3) {
                wrongmessage += "修改失败，用户的昵称长度不能小于3位\n";
                flag = 0;
            }
            if (phone.length != 11 || str_phone != "1") {
                wrongmessage += "修改失败，用户的电话长度必须等于11位且首位为1\n";
                flag = 0;
            }
            if (flag == 0) {
                alert(wrongmessage);
            }
            else {
                var results = {
                    "Account": account,
                    "Password": password,
                    "Name": username,
                    "Phone": phone,
                    "Sex": sex,
                    "current": currentacc
                };
                $.get('@Url.Action("UpdatetheUser","UserAdmin")', results)
                    .done(function (data) {
                        if (data.flag == 1) {
                            alert("修改用户信息成功!");
                            var result = "<br>成功修改原用户：" + currentacc + "<br>该用户的新账号：" + data.Account
                                + "<br>该用户的新昵称：" + data.Name
                                + "<br>该用户的新密码：" + data.Password
                                + "<br>该用户的新电话：" + data.Phone
                                + "<br>该用户的新性别(1是男，0是女）：" + data.Sex;
                        }
                        else if (data.flag == 2) {
                            alert("修改用户信息失败!用户的昵称或账号不能重复!")
                            var result = "<br>修改用户信息失败!用户的昵称或账号不能重复!"
                        }
                        else {
                            alert("修改用户信息失败!用户的昵称不能重复!")
                            var result = "<br>修改用户信息失败!用户的昵称不能重复!"}
                        $("#getback3").html(result);
                        //console.log(data);
                    })
                    .fail(function (data) {
                        alert("修改用户信息失败!");
                        var resultfail = "<br>用户信息修改失败!"
                        $("#getback3").html(resultfail);
                    })

            }

        });

        $("#submitinf").click(function () {
            var account = $("#account").val();
            var result = { "Account": account };
            currentacc = account;
            $.get('@Url.Action("SearchtheUser", "UserAdmin")',result)
                .done(function (data)
                {
                    if (data.flag == 1) {
                        alert("查找用户信息成功!");
                        var result = "<br>成功查找到用户：" + data.Name + "<br>该用户的账号：" + data.Account
                            + "<br>该用户的密码：" + data.Password
                            + "<br>该用户的电话：" + data.Phone
                            + "<br>该用户的性别(1是男，0是女）：" + data.Sex;
                            //+ '<table><tr><td><input type="button" class="btn-danger" value="确定删除" id="delect" /></td><td></td></tr></table>';
                        $("#getback").html(result);
                        // $("#getbackbtn").html(btn);
                        $("#getbackbtn").css("visibility", "visible");
                        $("#newaccount").val(data.Account);
                        $("#newpassword").val(data.Password);
                        $("#newusername").val(data.Name);
                        $("#newphone").val(data.Phone);
                        if (data.Sex == 0)
                            $("input[name='sex'][value='0']").attr("checked", true);
                        else
                            $("input[name='sex'][value='1']").attr("checked", true);
                    }
                    else
                    {
                        alert("未找到该用户!");
                        var result = "<br>该用户不存在!";
                        $("#getback").html(result);
                    }

                })
                .fail(function (data)
                {
                    alert("查找用户信息失败!");
                })
        });


    }
        )
</script>

<div id="center">
    <h2>查找/更改用户账号信息</h2>
    <form>
        <table>
            <tr>
                <td class="left1">请输入要查找/更新的用户账号：</td>
                <td><input type="text" class="right1" id="account" /></td>
            </tr>
            <tr><td><br /></td></tr>
            <tr>
                <td><input type="reset" class="btn-warning" value="重置信息" /></td>
                <td><input type="button" class="btn-success" value="提交信息" id="submitinf" /></td>
            </tr>
        </table>
    </form>
    <div id="getback" class="text-primary"></div>
    <div id="getbackbtn"><table><tr><td><input type="button" class="btn-primary" value="确定更改该用户信息" id="update" /></td><td></td></tr></table></div>
    <div id="getback2">
        <form>
            <table>
                <tr>
                    <td class="left1">用户账号：</td>
                    <td><input type="text" class="right1" id="newaccount" /></td>
                </tr>
                <tr><td><br /></td></tr>
                <tr>
                    <td class="left1">用户密码：</td>
                    <td><input type="password" class="right1" id="newpassword" /></td>
                </tr>
                <tr><td><br /></td></tr>
                <tr>
                    <td class="left1">用户昵称：</td>
                    <td><input type="text" class="right1" id="newusername" /></td>
                </tr>
                <tr><td><br /></td></tr>
                <tr>
                    <td class="left1">用户电话：</td>
                    <td><input type="text" class="right1" id="newphone" /></td>
                </tr>
                <tr><td><br /></td></tr>
                <tr>
                    <td><input type="radio" name="sex" value="1" checked />用户性别男</td>
                    <td><input type="radio" name="sex" value="0" />用户性别女</td>
                </tr>
                <tr><td><br /></td></tr>
                <tr>
                    <td><input type="reset" class="btn-warning" value="重置信息" /></td>
                    <td><input type="button" class="btn-success" value="提交信息" id="submitinf2" /></td>
                </tr>
            </table>
        </form>
    </div>
    <div id="getback3" class="text-success"></div>
</div>

